@{
    ViewData["Title"] = "Home Page";
}
@*@model AdrianWoronaProject91511.ViewModels.AllFilmsViewModel*@

<div class="text-center">
    <ul>
       @* @foreach(var film in Model.Posters)
        {
            <li>
                <img src="~/content/@film.PosterName" width="200px"/>
            </li>
        }*@
    </ul>
</div>
