@model IEnumerable<AdrianWoronaProject91511.Models.Film>

<div class="d-flex flex-column flex-shrink-0 p-3 text-dark bg-light" style="width: 280px;">
    <ul class="nav nav-pills flex-column mb-auto">
        @foreach(var film in Model)
        {
            <li>
                <a href="@Url.Action("Details", "Films", new{filmId = film.Id})" class="nav-link text-dark">
                    @film.Title
                </a>
            </li>
        }
    </ul>
</div>
